#app-view {
    padding: 40px 0;
}

.navbar-custom {
    background-color: #ddd;
    color: #333;
    border-radius: 0;
}

    .navbar-custom .navbar-nav > li > a {
        color: #333;
    }

    .navbar-custom .navbar-nav > .active > a {
        color: #333;
        background-color: transparent;
    }

        .navbar-custom .navbar-nav > li > a:hover,
        .navbar-custom .navbar-nav > li > a:focus,
        .navbar-custom .navbar-nav > .active > a:hover,
        .navbar-custom .navbar-nav > .active > a:focus,
        .navbar-custom .navbar-nav > .open > a {
            text-decoration: none;
            color: #999;
        }

    .navbar-custom .navbar-brand {
        color: #333;
    }

    .navbar-custom .navbar-toggle {
        background-color: #eeeeee;
    }

    .navbar-custom .icon-bar {
        background-color: #fff;
    }

.off-top {
    margin-top:40px;
}

.sub {
    font-weight: bold;
    font-size: large;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

footer {
    background-color: #ddd;
    color: #333;
    padding: 20px;
}

#app {
    background: white;
    min-height: 600px;
}

body {
    background: #ddd;
}

.treeList {
    list-style: none;
    padding-left: 12px;
}

.treeListRoot {
    list-style: none;
    padding-left: 0;
}

.treeListItem {

}

tbody tr td {
    padding: 2px;
}

/* http://tobiasahlin.com/spinkit/ */

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

    .spinner > div {
        background-color: #333;
        height: 100%;
        width: 6px;
        display: inline-block;
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/* endof: http://tobiasahlin.com/spinkit/ */