#app-view {
    padding: 40px 0;
}

.navbar-custom {
    background-color: #ddd;
    color: #333;
    border-radius: 0;
}

    .navbar-custom .navbar-nav > li > a {
        color: #333;
    }

    .navbar-custom .navbar-nav > .active > a {
        color: #333;
        background-color: transparent;
    }

        .navbar-custom .navbar-nav > li > a:hover,
        .navbar-custom .navbar-nav > li > a:focus,
        .navbar-custom .navbar-nav > .active > a:hover,
        .navbar-custom .navbar-nav > .active > a:focus,
        .navbar-custom .navbar-nav > .open > a {
            text-decoration: none;
            color: #999;
        }

    .navbar-custom .navbar-brand {
        color: #333;
    }

    .navbar-custom .navbar-toggle {
        background-color: #eeeeee;
    }

    .navbar-custom .icon-bar {
        background-color: #fff;
    }

.off-top {
    margin-top:40px;
}

.sub {
    font-weight: bold;
    font-size: large;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}